/* Заголовок*/
.main-title{
    font-size:72px;
    text-align:center;
    color:#ff7846;
    font-family:'Georgia', serif;
    text-transform:uppercase;
    letter-spacing:5px;

    text-shadow:
        0 0 5px #ff6b35,
        0 0 15px #ff6b35,
        2px 2px 0 #000,
        4px 4px 10px rgba(0,0,0,.8);

    animation:pulse 5s infinite;
}

.main-title {
  white-space: nowrap; /* Запрещаем перенос строк */
  overflow: hidden; /* Скрываем текст, который не помещается */
  border-right: 3px solid #000; /* Эффект курсора */
  width: 0; /* Изначально ширина равна 0 */
  animation: typing 3s steps(15) forwards, blink 0.75s step-end infinite;
}

@keyframes typing {
  from { width: 0 }
  to { width: 100% }
}

@keyframes blink {
  from, to { border-color: transparent }
  50% { border-color: #000 }
}



/* Имена*/
.credits {
    font-size:12px;
    text-align:center;
    color:rgb(182, 136, 136);
    font-family:'Georgia', serif;
    text-transform:uppercase;
    letter-spacing:5px;
}

.earthling {
    font-size:12px;
    text-align:center;
    color:rgb(9, 134, 118);
    font-family:'Georgia', serif;
    text-transform:uppercase;
    letter-spacing:5px;
}

.enemy {
    font-size:12px;
    text-align:center;
    color:rgb(165, 228, 18);
    font-family:'Georgia', serif;
    text-transform:uppercase;
    letter-spacing:5px;
}

.treters {
    font-size:12px;
    text-align:center;
    color:rgb(153, 43, 24);
    font-family:'Georgia', serif;
    text-transform:uppercase;
    letter-spacing:5px;
}

/* Ячейки*/
.cell {
  width: 30%;
  background-color: lightblue;
  text-align: center;
  padding: 20px;
  border-radius: 5%;
}

/* Ячейки в кнопки*/
.menu {
    display: flex;
    justify-content: space-between;
    gap: 30px;
    margin: 20px;
}

.menu-btn {
    flex: 1;
    height: 55px;

    border: none;
    border-radius: 8px;

    background: linear-gradient(
        135deg,
        #dff3ff,
        #cbe7f8
    );

    color: #2c2c2c;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;

    transition: all 0.3s ease;
    position: relative;
    overflow: hidden;
}

/* Эффект блика */
.menu-btn::before {
    content: "";
    position: absolute;
    top: 0;
    left: -120%;
    width: 100%;
    height: 100%;

    background: linear-gradient(
        120deg,
        transparent,
        rgba(255,255,255,0.6),
        transparent
    );

    transition: 0.6s;
}

/* Наведение */
.menu-btn:hover {
    transform: translateY(-4px);
    box-shadow: 0 8px 20px rgba(0, 100, 255, 0.25);
    background: linear-gradient(
        135deg,
        #eef9ff,
        #d8efff
    );
}

.menu-btn:hover::before {
    left: 120%;
}

/* Нажатие */
.menu-btn:active {
    transform: scale(0.96);
    box-shadow: 0 3px 10px rgba(0,0,0,0.2);
}

.result_container {
  background-color: transparent;
  font-size: 32px;
  color: #BF2E1A;
    font-family:'Georgia', serif;
    text-transform:uppercase;
    letter-spacing:5px;

   text-shadow:
    0 0 5px #BF2E1A,
    0 0 15px #BF2E1A,
    2px 2px 0 #000,
    4px 4px 10px rgba(0,0,0,.8);
}

#heroImageContainer {
    position: absolute;
    margin-bottom: 5px;
    margin-left: 550px;
    min-height: 100px;
}

#heroImageContainer img {
    width: auto;
    height: auto;
    object-fit: cover;
}